* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, sans-serif;
  color: black;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

ul li {
  list-style: none;
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

ul li:hover {
  background-color: lightyellow;
}

/* ul li:focus span::after {
  content: "✅";
  background-color: lightcyan;
} */

ul .element[data-completed="true"]:focus::before {
  content: "✅";
  background-color: lightcyan;
  color: gray;
  text-decoration: line-through;
}

ul .element[data-completed="false"]:focus::before {
  content: "❌";
  background-color: lightcyan;
}

ul .element[data-completed="false"]:focus {
  background-color: lightcyan;
}

ul .element[data-completed="true"]:focus {
  background-color: lightcyan;
  color: gray;
  text-decoration: line-through;
}

/* ul li:focus span::before .element[data-completed="false"] {
  content: "❌";
  background-color: lightcyan;
} */

/* ul li:focus span::before {
  content: "";
  background-color: lightcyan;
} */

/* .element[data-completed="true"] {
  color: gray;
  text-decoration: line-through;
} */

/* .element[data-completed="false"] span::before {
  content: "❌";
  color: black;
  text-decoration: none;
}

.element[data-completed="false"] span::after {
  content: "";
  color: black;
  text-decoration: none;
} */
